In [5]:
import pymongo
import pandas as pd

In [226]:
mongo_url = "mongodb+srv://mikolajstudies:ojy24IHDLkok6oWK@football.cvyivdz.mongodb.net/"
database_name = "football"
collection_name = "predictions"

client = pymongo.MongoClient(mongo_url)
database = client[database_name]
collection = database[collection_name]

cursor = collection.find()
documents_list = list(cursor)

client.close()

In [227]:
# Convert the list of dictionaries to a pandas DataFrame
df = pd.DataFrame(documents_list)

In [228]:
df

,_id,home_team_summary_player,home_team_summary_minutes,home_team_summary_goals,home_team_summary_assists,home_team_summary_pens_made,home_team_summary_pens_att,home_team_summary_shots,home_team_summary_shots_on_target,home_team_summary_cards_yellow,...,away_team_miscellaneous_ball_recoveries,away_team_miscellaneous_aerials_won,away_team_miscellaneous_aerials_lost,away_team_miscellaneous_aerials_won_pct,game_date,game_time,home_team,away_team,elo_home_team,elo_away_team
0,654e01ec6e30b33191d1552f,16 Players,989,0,0,0,0,6,1,0,...,54,13,13,50.0,2023-08-11,21:00,Burnley,Manchester City,1726.40161133,2077.25195312
1,654e01f56e30b33191d15531,14 Players,990,2,2,0,0,15,7,2,...,34,20,12,62.5,2023-08-12,13:30,Arsenal,Nottingham Forest,1919.36889648,1673.96276855
2,654e01fd6e30b33191d15533,13 Players,990,0,0,0,0,19,9,0,...,43,14,9,60.9,2023-08-12,16:00,Everton,Fulham,1708.23449707,1736.63708496
3,654e02056e30b33191d15535,16 Players,990,0,0,0,0,8,1,3,...,55,31,13,70.5,2023-08-12,16:00,Sheffield United,Crystal Palace,1644.07324219,1757.39587402
4,654e02106e30b33191d15537,16 Players,990,4,2,1,1,26,11,2,...,41,21,12,63.6,2023-08-12,16:00,Brighton &amp; Hove Albion,Luton Town,1828.16931152,1606.52282715
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2664,654e9dcd8564808963fb10ca,14 Players,990,1,1,0,0,7,1,4,...,56,13,10,56.5,2018-05-13,16:00,Manchester United,Watford,1884.19995117,1629.52148438
2665,654e9dd68564808963fb10cc,14 Players,990,0,0,0,0,8,2,3,...,44,18,16,52.9,2018-05-13,16:00,Southampton,Manchester City,1657.31555176,1973.4987793
2666,654e9ddd8564808963fb10ce,14 Players,990,4,4,0,0,14,6,1,...,54,15,10,60.0,2018-05-13,16:00,Tottenham Hotspur,Leicester City,1913.70910645,1700.98950195
2667,654ea436f3098478e3dc4662,16 Players,990,1,1,0,0,11,4,4,...,35,12,12,50.0,2023-05-28,17:30,Brentford,Manchester City,1807.11962891,2083.64038086
2668,6553c1348f71ea493de4c2c3,16 Players,990,1,1,0,0,11,4,4,...,35,12,12,50.0,2023-05-28,17:30,Brentford,Manchester City,1807.11950684,2083.64038086

In [229]:
df = df.drop_duplicates(subset=df.columns.difference(['_id','elo_home_team', 'elo_away_team']), keep='first')

In [230]:
# Wybieranie kolumn

df = df[["home_team_summary_goals",
"home_team_summary_shots",
"home_team_summary_shots_on_target",
"home_team_summary_xg",
"home_team_summary_npxg",
"home_team_summary_xg_assist",
"home_team_summary_sca",
"home_team_summary_gca",
"home_team_passes_xg_assist",
"home_team_passes_passes_into_final_third",
"home_team_passes_passes_into_penalty_area",
"home_team_passes_crosses_into_penalty_area",
"home_team_possesion_touches_att_3rd",
"home_team_possesion_touches_att_pen_area",
"home_team_defensive_tackles_def_3rd",
"home_team_defensive_tackles_mid_3rd",
"home_team_defensive_blocked_shots",
"home_team_defensive_errors",
"home_team_miscellaneous_ball_recoveries",
"away_team_summary_goals",
"away_team_summary_shots",
"away_team_summary_shots_on_target",
"away_team_summary_xg",
"away_team_summary_npxg",
"away_team_summary_xg_assist",
"away_team_summary_sca",
"away_team_summary_gca",
"away_team_passes_xg_assist",
"away_team_passes_passes_into_final_third",
"away_team_passes_passes_into_penalty_area",
"away_team_passes_crosses_into_penalty_area",
"away_team_possesion_touches_att_3rd",
"away_team_possesion_touches_att_pen_area",
"away_team_defensive_tackles_def_3rd",
"away_team_defensive_tackles_mid_3rd",
"away_team_defensive_blocked_shots",
"away_team_defensive_errors",
"away_team_miscellaneous_ball_recoveries",
"game_date",
"game_time",
"home_team",
"away_team",
"elo_home_team",
"elo_away_team"]]

In [231]:
#zmiana na numeric
columns_to_exclude = ["game_date", "game_time", "home_team", "away_team"]
df = df.apply(lambda col: pd.to_numeric(col, errors='coerce') if col.name not in columns_to_exclude else col)

In [232]:
# czyszczenie danych
df = df[(df['elo_home_team'] > 0) & (df['elo_away_team'] > 0)]
df['game_date'] = pd.to_datetime(df['game_date'], errors='coerce')

In [233]:
def get_replacement(club_name):

    replacments_club_names = {
        'Arsenal' : 'Arsenal',
        'Aston Villa' : 'Aston Villa',
        'Bournemouth' : 'Bournemouth',
        'Brentford' : 'Brentford',
        'Brighton' : 'Brighton',
        'Brighton &amp; Hove Albion' : 'Brighton',
        'Burnley' : 'Burnley',
        'Chelsea' : 'Chelsea',
        'Crystal Palace' : 'Crystal Palace',
        'Everton' : 'Everton',
        'Fulham' : 'Fulham',
        'Liverpool' : 'Liverpool',
        'Luton Town' : 'Luton',
        'Manchester City' : 'Man City',
        'Manchester Utd' : 'Man United',
        'Manchester United' : 'Man United',
        'Newcastle Utd' : 'Newcastle',
        'Newcastle United' : 'Newcastle',
        "Nott'ham Forest" : 'Forest',
        'Nottingham Forest' : 'Forest',
        'Sheffield Utd ' : 'Sheffield United',
        'Sheffield United' : 'Sheffield United',
        'Tottenham' : 'Tottenham',
        'Tottenham Hotspur' : 'Tottenham',
        'West Ham' : 'West Ham',
        'West Ham United' : 'West Ham',
        'Wolves' : 'Wolves',
        'Wolverhampton Wanderers' : 'Wolves',
        'Leicester' : 'Leicester',
        'Leicester City' : 'Leicester',
        'Leeds' : 'Leeds',
        'Leeds United' : 'Leeds',
        'Southampton' : 'Southampton',
        'Watford' : 'Watford',
        'Norwich' : 'Norwich',
        'Norwich City' : 'Norwich',
        'West Brom' : 'West Brom',
        'West Bromwich Albion' : 'West Brom',
        'Stoke' : 'Stoke',
        'Stoke City' : 'Stoke',
        'Swansea' : 'Swansea',
        'Swansea City' : 'Swansea', 
        'Cardiff' : 'Cardiff',
        'Cardiff City' : 'Cardiff',
        'Huddersfield' : 'Huddersfield',
        'Huddersfield Town' : 'Huddersfield'
    }

    return replacments_club_names.get(club_name, club_name)

In [234]:
df['home_team'] = df['home_team'].apply(get_replacement)
df['away_team'] = df['away_team'].apply(get_replacement)

In [235]:
#Normalizacja
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [236]:
df

,home_team_summary_goals,home_team_summary_shots,home_team_summary_shots_on_target,home_team_summary_xg,home_team_summary_npxg,home_team_summary_xg_assist,home_team_summary_sca,home_team_summary_gca,home_team_passes_xg_assist,home_team_passes_passes_into_final_third,...,away_team_defensive_tackles_mid_3rd,away_team_defensive_blocked_shots,away_team_defensive_errors,away_team_miscellaneous_ball_recoveries,game_date,game_time,home_team,away_team,elo_home_team,elo_away_team
0,0,6,1,0.3,0.3,0.3,10,0,0.3,14,...,5,2,2,54,2023-08-11,21:00,Burnley,Man City,1726.401611,2077.251953
1,2,15,7,0.8,0.8,0.6,30,4,0.6,61,...,3,5,0,34,2023-08-12,13:30,Arsenal,Forest,1919.368896,1673.962769
2,0,19,9,2.7,2.7,2.4,36,0,2.4,31,...,4,4,0,43,2023-08-12,16:00,Everton,Fulham,1708.234497,1736.637085
3,0,8,1,0.5,0.5,0.4,12,0,0.4,16,...,8,3,0,55,2023-08-12,16:00,Sheffield United,Crystal Palace,1644.073242,1757.395874
4,4,26,11,4.0,3.2,2.9,48,6,2.9,40,...,6,5,2,41,2023-08-12,16:00,Brighton,Luton,1828.169312,1606.522827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2663,3,16,6,2.6,2.6,1.7,27,4,1.7,30,...,5,4,3,58,2018-05-13,16:00,Newcastle,Chelsea,1651.556885,1858.670288
2664,1,7,1,0.4,0.4,0.4,13,2,0.4,35,...,7,2,0,56,2018-05-13,16:00,Man United,Watford,1884.199951,1629.521484
2665,0,8,2,0.5,0.5,0.3,15,0,0.3,9,...,3,1,1,44,2018-05-13,16:00,Southampton,Man City,1657.315552,1973.498779
2666,4,14,6,1.8,1.8,1.6,25,6,1.6,34,...,8,3,2,54,2018-05-13,16:00,Tottenham,Leicester,1913.709106,1700.989502
2667,1,11,4,1.3,1.3,1.1,16,2,1.1,19,...,2,3,0,35,2023-05-28,17:30,Brentford,Man City,1807.119629,2083.640381

In [237]:
from sklearn import preprocessing

In [186]:
# Columns to exclude from normalization
columns_to_exclude = ["game_date", "game_time", "home_team", "away_team"]

# Separate columns to normalize and columns to exclude
columns_to_normalize = [col for col in df.columns if col not in columns_to_exclude]
data_to_normalize = df[columns_to_normalize]

# Normalize the selected columns

#mozna zmenic zakres normalizacji
#scaler = MinMaxScaler(feature_range=(0, 5))
#scaler = MinMaxScaler()
#normalized_data = scaler.fit_transform(data_to_normalize)
normalized_data = preprocessing.normalize(data_to_normalize)

# Create a new DataFrame with the normalized values
df_normalized = pd.DataFrame(normalized_data, columns=columns_to_normalize)

# Combine the normalized DataFrame with the excluded columns
df_result = df.assign(**{col: normalized_data[:, i] for i, col in enumerate(columns_to_normalize)})

In [187]:
df = df_result

Jeden klub

In [238]:
import statistics

def getRivalElo(df, club_name):
    elo = df[['home_team', 'away_team', 'elo_home_team', 'elo_away_team']]

    elo_values = []

    for index, row in elo.iterrows():
        if row['home_team'] == club_name:
            elo_values.append(row['elo_home_team'])
        else:
            elo_values.append(row['elo_away_team'])

    elo_avrage_value = statistics.mean(elo_values)
    
    return elo_avrage_value


def getDifferenceElo(df, club_name):
    elo = df[['home_team', 'away_team', 'elo_home_team', 'elo_away_team']]

    elo_values = []

    for index, row in elo.iterrows():
        if row['home_team'] == club_name:
            elo_values.append(row['elo_home_team'] - row['elo_away_team'])
        else:
            elo_values.append(row['elo_away_team'] - row['elo_home_team'])

    elo_avrage_value = statistics.mean(elo_values)
    
    return elo_avrage_value

In [239]:
def getLastFiveGames(df, club_name, game_data):
    club_data = df[(df['home_team'] == club_name) | (df['away_team'] == club_name)]
    club_data = club_data[club_data['game_date'] < game_data]
    sorted_df = club_data.sort_values(by='game_date', ascending=False)

    last_5_games = sorted_df.head(5).copy()

    av_column = last_5_games.mean(axis=0)

    df_avg_data = av_column.to_frame().T
    df_avg_data = df_avg_data.drop(columns=['elo_home_team', 'elo_away_team'])

    df_avg_data['rival_avg_elo'] = getRivalElo(last_5_games, club_name)
    df_avg_data['rival_difference_elo'] = getDifferenceElo(last_5_games, club_name)

    return df_avg_data

In [240]:
aa = getLastFiveGames(df, 'Burnley', '2023-11-04')
aa

/var/folders/_h/ljwht4gd7lb99rm1hm78h7_00000gn/T/ipykernel_1564/2445527101.py:8: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  av_column = last_5_games.mean(axis=0)
/var/folders/_h/ljwht4gd7lb99rm1hm78h7_00000gn/T/ipykernel_1564/2445527101.py:8: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  av_column = last_5_games.mean(axis=0)

,home_team_summary_goals,home_team_summary_shots,home_team_summary_shots_on_target,home_team_summary_xg,home_team_summary_npxg,home_team_summary_xg_assist,home_team_summary_sca,home_team_summary_gca,home_team_passes_xg_assist,home_team_passes_passes_into_final_third,...,away_team_passes_crosses_into_penalty_area,away_team_possesion_touches_att_3rd,away_team_possesion_touches_att_pen_area,away_team_defensive_tackles_def_3rd,away_team_defensive_tackles_mid_3rd,away_team_defensive_blocked_shots,away_team_defensive_errors,away_team_miscellaneous_ball_recoveries,rival_avg_elo,rival_difference_elo
0,1.8,16.6,5.2,1.9,1.74,1.24,29.2,2.6,1.24,21.6,...,0.4,129.0,19.2,6.2,4.8,5.2,0.6,52.0,1685.086865,-45.687256

dane z meczów z druzynami o podobnym poziomie

In [241]:
def getLastThreeGames(df, club_name, game_data, elo_value):
    club_data = df[(df['home_team'] == club_name) | (df['away_team'] == club_name)]
    club_data = club_data[club_data['game_date'] < game_data]
    sorted_df = club_data.sort_values(by='game_date', ascending=False)

    last_3_games = sorted_df.head(15).copy()

    last_3_games['elo_rival'] = 0

    for index, row in last_3_games.iterrows():
        if row['home_team'] == 'Burnley':
            last_3_games.at[index, 'elo_rival'] = row['elo_away_team']
        else:
            last_3_games.at[index, 'elo_rival'] = row['elo_home_team']

    closest_rows = last_3_games.iloc[(last_3_games['elo_rival'] - elo_value).abs().argsort()[:3]]

    av_column_three = closest_rows.mean(axis=0)

    three_games_avg = av_column_three.to_frame().T
    three_games_avg = three_games_avg.drop(columns=['elo_home_team', 'elo_away_team', 'elo_rival'])

    return three_games_avg

In [242]:
bb = getLastThreeGames(df, 'Burnley', '2023-11-04', 0.352802)
bb

/var/folders/_h/ljwht4gd7lb99rm1hm78h7_00000gn/T/ipykernel_1564/1323087916.py:16: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  closest_rows = last_3_games.iloc[(last_3_games['elo_rival'] - elo_value).abs().argsort()[:3]]
/var/folders/_h/ljwht4gd7lb99rm1hm78h7_00000gn/T/ipykernel_1564/1323087916.py:18: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  av_column_three = closest_rows.mean(axis=0)
/var/folders/_h/ljwht4gd7lb99rm1hm78h7_00000gn/T/ipykernel_1564/1323087916.py:18: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  av_column_three = closest_rows.mean(axis=0)

,home_team_summary_goals,home_team_summary_shots,home_team_summary_shots_on_target,home_team_summary_xg,home_team_summary_npxg,home_team_summary_xg_assist,home_team_summary_sca,home_team_summary_gca,home_team_passes_xg_assist,home_team_passes_passes_into_final_third,...,away_team_passes_passes_into_final_third,away_team_passes_passes_into_penalty_area,away_team_passes_crosses_into_penalty_area,away_team_possesion_touches_att_3rd,away_team_possesion_touches_att_pen_area,away_team_defensive_tackles_def_3rd,away_team_defensive_tackles_mid_3rd,away_team_defensive_blocked_shots,away_team_defensive_errors,away_team_miscellaneous_ball_recoveries
0,1.0,14.666667,3.0,1.133333,1.133333,0.766667,25.0,1.0,0.766667,22.666667,...,24.333333,5.666667,1.333333,158.333333,25.333333,7.666667,5.0,3.666667,0.333333,54.666667

In [216]:
club_name = 'Burnley'
current_elo_value = 0.352802

# Wstawić nazwę druzyny z dataframe
filtered_df_same = burnley[(burnley['home_team'] == 'Burnley') | (burnley['away_team'] == 'Burnley')]

# wstawić datę z dataframe
filtered_df_same = filtered_df_same[filtered_df_same['game_date'] < '2023-11-04']

sorted_df_same = filtered_df_same.sort_values(by='game_date', ascending=False)

last_3_man_city_games_same = sorted_df_same.head(15).copy()


last_3_man_city_games_same['elo_rival'] = 0  # Initialize with default values (you can use NaN if you prefer)

for index, row in last_3_man_city_games_same.iterrows():
    if row['home_team'] == 'Burnley':
        last_3_man_city_games_same.at[index, 'elo_rival'] = row['elo_away_team']
    else:
        last_3_man_city_games_same.at[index, 'elo_rival'] = row['elo_home_team']

closest_rows = last_3_man_city_games_same.iloc[(last_3_man_city_games_same['elo_rival'] - current_elo_value).abs().argsort()[:3]]

closest_rows

/var/folders/_h/ljwht4gd7lb99rm1hm78h7_00000gn/T/ipykernel_1564/1637264734.py:23: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  closest_rows = last_3_man_city_games_same.iloc[(last_3_man_city_games_same['elo_rival'] - current_elo_value).abs().argsort()[:3]]

,home_team_summary_goals,home_team_summary_shots,home_team_summary_shots_on_target,home_team_summary_xg,home_team_summary_npxg,home_team_summary_xg_assist,home_team_summary_sca,home_team_summary_gca,home_team_passes_xg_assist,home_team_passes_passes_into_final_third,...,away_team_defensive_blocked_shots,away_team_defensive_errors,away_team_miscellaneous_ball_recoveries,game_date,game_time,home_team,away_team,elo_home_team,elo_away_team,elo_rival
53,0.000000,0.200631,0.160504,0.112217,0.124921,0.123114,0.191511,0.000000,0.123114,0.148922,...,0.106216,0.000000,0.211475,2023-09-23,21:00,Burnley,Man United,0.201419,0.352802,0.352802
847,0.065880,0.292801,0.210817,0.196524,0.139219,0.155717,0.311434,0.035136,0.155717,0.239071,...,0.217017,0.000000,0.128199,2022-05-15,13:00,Tottenham,Burnley,0.322611,0.188237,0.322611
63,0.117653,0.248378,0.188244,0.255246,0.213106,0.160435,0.256696,0.062748,0.160435,0.106736,...,0.193781,0.188244,0.228945,2023-09-30,16:00,Newcastle,Burnley,0.300693,0.164731,0.300693

In [217]:
av_column_three = closest_rows.mean(axis=0)
#av_column = av_column.drop('elo_home_team', 'elo_away_team')
three_games_avg = av_column_three.to_frame().T
three_games_avg = three_games_avg.drop(columns=['elo_home_team', 'elo_away_team'])
three_games_avg['rival_avg_elo'] = getRivalElo(closest_rows, 'Burnley')
three_games_avg['rival_difference_elo'] = getDifferenceElo(closest_rows, 'Burnley')
three_games_avg

/var/folders/_h/ljwht4gd7lb99rm1hm78h7_00000gn/T/ipykernel_1564/2437527343.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  av_column_three = closest_rows.mean(axis=0)
/var/folders/_h/ljwht4gd7lb99rm1hm78h7_00000gn/T/ipykernel_1564/2437527343.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  av_column_three = closest_rows.mean(axis=0)

,home_team_summary_goals,home_team_summary_shots,home_team_summary_shots_on_target,home_team_summary_xg,home_team_summary_npxg,home_team_summary_xg_assist,home_team_summary_sca,home_team_summary_gca,home_team_passes_xg_assist,home_team_passes_passes_into_final_third,...,away_team_possesion_touches_att_3rd,away_team_possesion_touches_att_pen_area,away_team_defensive_tackles_def_3rd,away_team_defensive_tackles_mid_3rd,away_team_defensive_blocked_shots,away_team_defensive_errors,away_team_miscellaneous_ball_recoveries,elo_rival,rival_avg_elo,rival_difference_elo
0,0.061178,0.24727,0.186522,0.187996,0.159082,0.146422,0.253214,0.032628,0.146422,0.16491,...,0.093552,0.137256,0.145436,0.165195,0.172338,0.062748,0.18954,0.325369,0.184796,-0.140573

# TODO: poprawć wybór danych do sieci teraz nie bierze pod uwagę gdzie dany zespoł rozgrywa mecz - musi być wybieranie naych home albo away do licznia średniej